<form [formGroup]="formulario" (ngSubmit)="submitFormulario()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" />
    <div *ngIf="formulario.controls['nombre'].hasError('required')  && formulario.controls['nombre'].touched">
      El nombre es requerido.
    </div>
  </div>

  <div>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" formControlName="apellido" />
    <div *ngIf="formulario.controls['apellido'].hasError('required')  && formulario.controls['apellido'].touched">
      El apellido es requerido.
    </div>
  </div>

  <div>
    <label for="correo">Correo electrónico:</label>
    <input type="email" id="correo" formControlName="correo" />
    <div *ngIf="formulario.controls['correo'].hasError('required')  && formulario.controls['correo'].touched">
      El correo es requerido.
    </div>
    <div *ngIf="formulario.controls['correo'].hasError('email')">
      El correo no tiene un formato válido.
    </div>
  </div>

  <div>
    <label for="password">password:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="formulario.controls['password'].hasError('required') && formulario.controls['password'].touched">
      La contraseña es requerida.
    </div>
    <div *ngIf="formulario.controls['password'].hasError('minlength')">
      La contraseña debe tener al menos 3 caracteres.
    </div>
    <div *ngIf="formulario.controls['password'].hasError('maxlength')">
      La contraseña no debe tener más de 8 caracteres.
    </div>
  </div>

  <div>
    <label for="repetirpassword">Repetir password:</label>
    <input type="password" id="repetirpassword" formControlName="repetirpassword" />
    <div *ngIf="formulario.controls['repetirpassword'].hasError('required') && formulario.controls['repetirpassword'].touched">
      Este campo es requerido.
    </div>
    <div *ngIf="!validarpassword() && formulario.controls['repetirpassword'].touched">
      Las contraseñas no coinciden.
    </div>
  </div>

  <button type="submit" [disabled]="!formulario.valid || !validarpassword()">Enviar</button>
</form>
